*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #6C2F1D;
    background: -moz-linear-gradient(45deg, #6C2F1D 0%, #668492 50%, #9CC597 100%);
    background: -webkit-linear-gradient(45deg, #6C2F1D 0%, #668492 50%, #9CC597 100%);
    background: linear-gradient(45deg, #6C2F1D 0%, #668492 50%, #9CC597 100%);
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}

#email{
    width: 300px;
}
